<!DOCTYPE html>
<html>
<head>
    <title>Gallery</title>
    <link href="/app/css/app.css" rel="stylesheet">
</head>
<body>
<div id="content"></div>
<script src="/app/js/vendor.min.js"></script>
<script src="/app/js/app.min.js"></script>
<!-- inject:html -->
<script type="text/template" id="album-images">
<section>
    <ul>
        <% _.each(images, function(item) { %>
        <li><img src="<%- item.url %>" alt="" style="width: 50px;height: 50px;float:left;">
        </li>
        <% }) %>
    </ul>
</section></script>

<script type="text/template" id="album-item">
<div style="clear: both">
    <div>
        <a href="#"><%-name %></a>
    </div>
    <div>
        <ul>
            <% _.each(images, function(item) { %>
            <li><img src="<%- item.url %>" alt="" style="width: 50px;height: 50px;float:left;filter: blur(1px);">
            </li>
            <% }) %>
        </ul>
    </div>
</div></script>

<script type="text/template" id="album-layout">
<section>
    <navigation id="menu"></navigation>
    <div id="images"></div>
    <footer id="paginator"></footer>
</section></script>

<script type="text/template" id="album-menu">
<section>
    <a href="#">BACK</a>
    <h2><%- id %>:<%- name %></h2>
</section></script>

<script type="text/template" id="album-paginator">
<div>
    <ul>
        <li><a href="#" data-page="<%- first %>"><<</a></li>
        <% _.each(pagesInRange, function(item) { %>
        <li>
            <% if (item === current) { %>
            <%- item %>
            <% } else { %>
            <a href="#" data-page="<%- item %>"><%- item %></a>
            <% } %>
        </li>
        <% }) %>
        <li><a href="#" data-page="<%- last %>">>></a></li>
    </ul>
</div></script>

<!-- endinject -->
</body>
</html>